{% if session.username %}
<p>Olet kirjautunut nimellä {{ session.username }}</p>
<p>Tarkastele aikaisempia keskusteluja ja lisää niihin viestejä:</p>
<a href="/topics">Keskustelut</a><p>
<a href="/add_topic">Lisää uusi aihe ja viesti</a></p>
<a href="/modify">Poista lähettämiäsi viestejä</a></p>
<a href="/logout">Kirjaudu ulos</a></p>
<a href="/add_admin">Hae ylläpitäjäksi</a></p>
<a href="/change_name">Muuta käyttäjänimesi</a></p>
<a href="/admin">Ylläpitäjän sivut</a></p>
{% else %}
<form action="/login" method="POST">
<p>Kirjaudu:<br>
<p>Tunnus:<br>
<input type="text" name="username"></p>
<p>Salasana:<br>
<input type="password" name="password"></p>
<input type="submit" value="Kirjaudu">
</form>
<p>Jos olet uusi käyttäjä:<a
href="/new">Rekisteröidy</a></p>
</body>
{% endif %}
